@charset "UTF-8";

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Palatino";
  font-display: swap;
  src: url("../fonts/Palatino.woff") format("woff"), url("../fonts/Palatino.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: inherit;
}

::-moz-placeholder {
  font-family: inherit;
}

:-ms-input-placeholder {
  font-family: inherit;
}

::-ms-input-placeholder {
  font-family: inherit;
}

input,
button,
textarea,
::placeholder {
  font-family: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  color: #4A4A4A;
  background-color: #F2F2F2;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
}

@-webkit-keyframes anim {
  0% {

  }

  25% {
    border-top-color: rgba(255, 255, 255, 0.7);
  }

  50% {
    border-right-color: rgba(255, 255, 255, 0.7);
  }

  75% {
    border-bottom-color: rgba(255, 255, 255, 0.7);
  }

  100% {
    border-left-color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes anim {
  0% {

  }

  25% {
    border-top-color: rgba(255, 255, 255, 0.7);
  }

  50% {
    border-right-color: rgba(255, 255, 255, 0.7);
  }

  75% {
    border-bottom-color: rgba(255, 255, 255, 0.7);
  }

  100% {
    border-left-color: rgba(255, 255, 255, 0.7);
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

._title-h1A {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: inherit;
}

._title-h1U {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: inherit;
}

._title-h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 133.33333%;
  color: #35424B;
}

._title-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #35424B;
}

._text-1 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 18px;
  line-height: 144.44444%;
  color: inherit;
}

._text-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 171.42857%;
  color: #35424B;
}

._text-3 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  color: inherit;
}

._text-4 {
  font-family: "Palatino";
  font-weight: 300;
  font-size: 24px;
  line-height: 141.66667%;
  color: inherit;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 114.28571%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  border: 2px solid transparent;
  border-radius: 100px;
  padding: 0 5px;
  -webkit-transition: color .3s ease 0s, background-color .3s ease 0s;
  -o-transition: color .3s ease 0s, background-color .3s ease 0s;
  transition: color .3s ease 0s, background-color .3s ease 0s;
}

.btn--blue {
  color: #fff;
  background-color: #22C3CA;
}

.btn--blue:focus {
  background-color: #1eaeb4;
}

.btn--blue:active {
  background-color: #1eaeb4;
}

.btn--white {
  color: #22C3CA;
  background-color: #fff;
}

.input {
  background-color: #fff;
  border-radius: 8px;
  height: 72px;
}

._icon-phone {
  width: 32px;
  height: 32px;
}

._icon-globe {
  width: 23px;
  height: 27px;
}

._icon-search {
  width: 32px;
  height: 32px;
}

._icon-item-calendar {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  width: 21px;
  height: 20px;
}

._plane {
  -webkit-transform: rotate(-105deg);
      -ms-transform: rotate(-105deg);
          transform: rotate(-105deg);
}

._icon {
  width: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 16px;
  margin: 0px 8px 0px 0px;
}

._mail {
  width: 21px;
  height: 24px;
}

._mob {
  width: 16px;
  height: 24px;
}

._footer-icon {
  width: 12px;
  height: 18px;
}

._social {
  fill: #22C3CA;
  width: 40px;
  height: 40px;
  width: 40px;
  -webkit-transition: fill .3s ease 0s;
  -o-transition: fill .3s ease 0s;
  transition: fill .3s ease 0s;
}

._social:active {
  fill: #000;
}

._arrow-down {
  width: 16px;
  height: 16px;
  -webkit-transition: -webkit-transform .3s ease 0s;
  transition: -webkit-transform .3s ease 0s;
  -o-transition: transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
}

._people {
  width: 17px;
  height: 24px;
}

._quantity {
  pointer-events: none;
  width: 32px;
  height: 32px;
}

.paginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginations .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #22C3CA;
  opacity: 1;
  margin: 0 8px;
  -webkit-transition: background-color .3s ease 0s;
  -o-transition: background-color .3s ease 0s;
  transition: background-color .3s ease 0s;
}

.paginations .swiper-pagination-bullet-active {
  background-color: #22C3CA;
}

._slider-arrow {
  width: 13px;
  height: 21px;
}

._slider-arrow__next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider-arrow {
  pointer-events: auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #22C3CA;
}

.slider-arrows {
  pointer-events: none;
  position: absolute;
  left: -10px;
  width: calc(100% + 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header._sticky .header__inner {
  height: 75px;
}

.header__inner {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 8px;
  -webkit-transition: height .3s ease 0s;
  -o-transition: height .3s ease 0s;
  transition: height .3s ease 0s;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 10px;
  background-color: #22C3CA;
  border-radius: 0px 0px 0px 8px;
}

.header__link {
  font-family: "MuseoSans";
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #fff;
}

.header__body {
  background-color: #fff;
  height: 100%;
  padding: 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 0px 0px 8px 0px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__btn {
  min-width: 196px;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(104px, 1fr))[5];
  grid-template-columns: repeat(5, minmax(104px, 1fr));
  gap: 15px 35px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.menu__item:last-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  text-align: left;
}

.menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 133.33333%;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #22C3CA;
  position: relative;
}

.menu__link--small::after {
  background-color: #ccc !important;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: rgba(34, 195, 202, 0.6);
  -webkit-transition: width .3s ease 0s;
  -o-transition: width .3s ease 0s;
  transition: width .3s ease 0s;
}

.menu__icon {
  display: none;
}

.contacts-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.82837%;
          flex: 0 1 37.82837%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__column {
  padding: 0px 0px 0px 15px;
  position: relative;
}

.contacts-header__column::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 72px;
  width: 1px;
  background-color: #F7F5F5;
}

.contacts-header__column:first-child::before {
  left: 1px;
}

.contacts-header__column:first-child {
  padding-right: 5px;
}

.info-contacts {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 40px 1fr;
  grid-template-columns: 40px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info-contacts__icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-contacts__globe {
  display: none;
}

.info-contacts__tel {
  font-weight: 700;
  font-size: 15px;
  line-height: 106.66667%;
  color: #000;
  margin: 0px 0px 3px 0px;
}

.info-contacts__request-call {
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33333%;
  color: #22C3CA;
  border-bottom: 1px dotted transparent;
  -webkit-transition: border-bottom .2s ease 0s;
  -o-transition: border-bottom .2s ease 0s;
  transition: border-bottom .2s ease 0s;
}

.intro {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.intro::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../img/intro/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.intro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
}

.intro__btn {
  min-width: 256px;
}

.content-intro__title:not(:last-child) {
  margin: 0px 0px 3px 0px;
}

.content-intro__text {
  color: #fff;
}

.content-intro__text:not(:last-child) {
  margin-bottom: 20px;
}

.form-content {
  width: 100%;
}

.form-content__details {
  display: none;
  margin-top: 30px;
}

.form-content__btns {
  margin-top: 16px;
}

.top-form-content {
  position: relative;
}

.top-form-content__search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-form-content__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #9B9B9B;
  background-color: #fff;
  width: 100%;
  height: 72px;
  padding: 24px 24px 24px;
  padding-left: 64px;
}

.body-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  -ms-grid-columns: 304px 1fr 304px;
  grid-template-columns: 304px 1fr 304px;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.body-content__select-date {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 45px;
  grid-template-columns: 1fr 45px;
  background-color: #fff;
  border-radius: 8px;
}

.body-content__select-date ._arrow-down {
  cursor: pointer;
}

.body-content__select-date ._arrow-down._init {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.body-content__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #9B9B9B;
  width: 100%;
  height: 72px;
  padding: 0px 0px 0px 56px;
  -webkit-transition: color .3s ease 0s;
  -o-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
}

.body-content__input:focus {
  color: #35424B;
}

.info-body {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
}

.info-body__title {
  color: #fff;
}

.info-body__duration {
  width: 95%;
  margin: 0 auto;
}

.info-body .noUi-target {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  border-radius: 8px;
}

.info-body .noUi-connects {
  border-radius: initial;
}

.info-body .noUi-handle {
  border: none;
}

.info-body .noUi-connect {
  background: #22C3CA;
}

.info-body .noUi-horizontal {
  height: 8px;
}

.info-body .noUi-horizontal .noUi-handle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  right: -17px;
  top: -12px;
}

.info-body .noUi-handle {
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(53, 66, 75, 0.6);
          box-shadow: 0px 4px 8px rgba(53, 66, 75, 0.6);
}

.info-body .noUi-handle::after {
  display: none;
}

.info-body .noUi-handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #22C3CA;
}

.dates-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dates-info__days {
  font-size: 14px;
  line-height: 86%;
  color: #fff;
}

.dates-info__days::before {
  content: "від";
  display: inline-block;
  margin: 0px 3px 0px 0px;
}

.dates-info__days::after {
  content: "днів";
  display: inline-block;
  margin: 0px 0px 0px 3px;
}

.dates-info__days:last-child::before {
  content: "до";
}

.btns-form-content {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}

.btns-form-content__global-search {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 16px;
  color: #fff;
  border-bottom: 1px dashed #fff;
  -webkit-transition: color .3s ease 0s, border-color .3s ease 0s;
  -o-transition: color .3s ease 0s, border-color .3s ease 0s;
  transition: color .3s ease 0s, border-color .3s ease 0s;
}

.btns-form-content__global-search:active {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}

.btns-form-content__global-search._hide {
  display: none;
}

.btns-form-content__global-search--hide {
  display: none;
}

.btns-form-content__global-search--hide._show {
  display: block;
}

.travels-body {
  position: relative;
}

.travels-body__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  -ms-grid-columns: 48px 1fr 45px;
  grid-template-columns: 48px 1fr 45px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: border-radius .3s ease 0s;
  -o-transition: border-radius .3s ease 0s;
  transition: border-radius .3s ease 0s;
}

.travels-body__content._init {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: initial;
  border-bottom-left-radius: initial;
}

.travels-body__content ._arrow-down {
  cursor: pointer;
}

.travels-body__content ._arrow-down._init {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.travels-body__select {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #9B9B9B;
  width: 100%;
}

.travels-body__select::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select::placeholder {
  opacity: 1;
  -webkit-transition: opacity .4s ease 0s;
  -o-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity .4s ease 0s;
  -o-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.travels-body__select._init::placeholder {
  opacity: 0;
  -webkit-transition: opacity .4s ease 0s;
  -o-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.menu-body {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0px 15px 15px;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-transition: opacity .3s ease 0s, visibility .3s ease 0s;
  -o-transition: opacity .3s ease 0s, visibility .3s ease 0s;
  transition: opacity .3s ease 0s, visibility .3s ease 0s;
}

.menu-body._show {
  opacity: 1;
  visibility: visible;
}

.menu-body__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 96px 56px 72px;
  grid-template-columns: 96px 56px 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-body__item + .menu-body__item {
  margin: 16px 0px 0px 0px;
}

.menu-body__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #F6F6F6;
  border-radius: 8px;
}

.menu-body__btns {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.menu-body__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog__top:not(:last-child) {
  margin-bottom: 30px;
}

.catalog__title {
  color: #35424B;
}

.catalog__title:not(:last-child) {
  margin: 0px 0px 0.75em 0px;
}

.catalog__btns {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(96px, auto));
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  overflow-y: hidden;
  overflow-x: auto;
}

.catalog__country-btn {
  font-weight: 400;
  font-size: 12px;
  height: 38px;
  min-width: 96px;
  border-color: #22C3CA;
  padding: 0 8px;
}

.catalog__country-btn._active {
  background-color: #22C3CA;
  color: #fff;
}

.catalog__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 32px;
}

.catalog__bottom {
  text-align: center;
  margin-top: 64px;
}

.catalog__show-more {
  min-width: 256px;
}

.catalog__item {
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.catalog__item._hide {
  display: none;
}

.item-catalog__labels {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 16px;
  right: 16px;
}

.item-catalog__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 24px;
          flex: 1 0 24px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  line-height: 110%;
  color: #fff;
  border-radius: 4px;
  border: 2px solid transparent;
  pointer-events: none;
}

.item-catalog__label:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-catalog__label--sale {
  background-color: #22C3CA;
}

.item-catalog__label--top {
  background-color: orange;
}

.item-catalog__label--new {
  background-color: palevioletred;
}

.item-catalog__label--exclusive {
  background-color: dodgerblue;
}

.item-catalog__picture {
  display: block;
  padding: 0px 0px 57.89474% 0px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.item-catalog__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.item-catalog__body {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  row-gap: 16px;
  border: 1px solid #F6F6F6;
  padding: 16px 16px 22px 16px;
}

.item-catalog__country {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.item-catalog__id {
  font-size: 10px;
  line-height: 160%;
  color: #9B9B9B;
}

.item-catalog__title {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 16px;
}

.item-catalog__title:active .item-catalog__name {
  color: #22C3CA;
  border-color: #22C3CA;
}

.item-catalog__name {
  font-size: inherit;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.item-catalog__info {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  row-gap: 16px;
}

.item-catalog__date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 133.33333%;
  color: #35424B;
}

.item-catalog__date:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.item-catalog__date svg {
  width: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 16px;
  margin: 0px 8px 0px 0px;
}

.item-catalog__conditions {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}

.item-catalog__rating {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.item-catalog__hotel,
.item-catalog__supply {
  font-size: 10px;
  line-height: 160%;
  color: #35424B;
}

.item-catalog__stars {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(auto, 16px));
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.item-catalog__stars svg {
  width: 16px;
  height: 16px;
}

.item-catalog__food {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.item-catalog__supply-type {
  font-size: 12px;
  line-height: 200%;
  color: #35424B;
}

.item-catalog__price {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 8px;
}

.item-catalog__uah {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #35424B;
}

.item-catalog__uah span {
  font-size: 14px;
  line-height: 114.28571%;
  margin: 0px 0px 0px 2px;
}

.item-catalog__euro {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #9B9B9B;
}

.item-catalog__add {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.item-catalog__btn {
  font-size: 12px;
  line-height: 133.33333%;
  color: #22C3CA;
  padding: 0px 0px 2px 0px;
  border-bottom: 1px dashed #22C3CA;
}

.sub {
  background-color: #22C3CA;
  padding-top: 40px;
  padding-bottom: 50px;
}

.sub__title {
  color: #fff;
}

.sub__title:not(:last-child) {
  margin: 0px 0px 1em 0px;
}

.sub__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55.7037% 416px;
  grid-template-columns: 55.7037% 416px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub__top:not(:last-child) {
  margin-bottom: 20px;
}

.sub__subtitle {
  color: #fff;
  border-bottom: 1px dashed transparent;
  -webkit-transition: border-color .2s ease 0s;
  -o-transition: border-color .2s ease 0s;
  transition: border-color .2s ease 0s;
}

.sub__text {
  display: block;
  color: #fff;
}

.sub__subscribe {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: 55.7037%;
  grid-template-columns: 55.7037%;
}

.sub__btn {
  display: none;
  margin-top: 20px;
  min-width: 176px;
}

.form-sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55.7037% 416px;
  grid-template-columns: 55.7037% 416px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-sub:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.form-sub__contacts {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 56px 1fr 128px;
  grid-template-columns: 56px 1fr 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 8px;
}

.form-sub__contacts._show {
  display: -ms-grid;
  display: grid;
}

.form-sub__contacts._hide {
  display: none;
}

.form-sub__contacts svg {
  -ms-grid-column-align: center;
      justify-self: center;
}

.form-sub__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  -webkit-transition: color .3s ease 0s;
  -o-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
}

.form-sub__input:focus {
  color: rgba(53, 66, 75, 0.8);
}

.form-sub__btn {
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 133.33333%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #22C3CA;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.form-sub__btn:active {
  border-color: #22C3CA;
}

.offers {
  padding-top: 80px;
  padding-bottom: 80px;
}

.offers__title:not(:last-child) {
  margin-bottom: 40px;
}

.offers__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.offers__picture {
  display: block;
  padding: 0px 0px 55% 0px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.offers__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.offers__content {
  position: absolute;
  z-index: 2;
  left: 32px;
  bottom: 32px;
  max-width: 300px;
}

.offers__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 133.33333%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #22C3CA;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.offers__link:active {
  border-color: #22C3CA;
}

.offers__dotts {
  margin: 24px 0px 0px 0px;
}

.content-offers__title {
  color: #fff;
}

.content-offers__title:not(:last-child) {
  margin: 0px 0px 0.375em 0px;
}

.content-offers__text {
  color: #fff;
}

.content-offers__text:not(:last-child) {
  margin-bottom: 15px;
}

.quotes {
  padding-bottom: 80px;
}

.quotes__container {
  position: relative;
}

.quotes__title:not(:last-child) {
  margin: 0px 0px 0.75em 0px;
}

.quotes__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 56px;
  padding-left: 32px;
  background-color: #fff;
  border: 1px solid #F6F6F6;
}

.quotes__name:not(:last-child) {
  margin: 0px 0px 1.5em 0px;
}

.quotes__arrows {
  display: none;
}

.quotes__dotts {
  display: none;
  margin: 24px 0px 0px 0px;
}

.quotes .slider-arrow {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.quotes .slider-arrow.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.footer {
  background-color: #fff;
  padding-top: 85px;
  padding-bottom: 100px;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: 304px 1fr;
  grid-template-columns: 304px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (minmax(auto, 192px))[4];
  grid-template-columns: repeat(4, minmax(auto, 192px));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.footer__column ._arrow-down {
  display: none;
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px;
  margin: 0px 0px 0px 3px;
}

.footer__column._show ._arrow-down {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.footer__title {
  cursor: default;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #22C3CA;
}

.footer__list {
  -webkit-transition: height .25s ease;
  -o-transition: height .25s ease;
  transition: height .25s ease;
  overflow: hidden;
}

.footer__list::before {
  content: "";
  display: inline-block;
  width: 100%;
  margin: 2px 0px 8px 0px;
  height: 2px;
  background-color: #F7F5F5;
}

.footer__list._show {
  display: block;
}

.footer__item + .footer__item {
  margin-top: 23px;
}

.footer__link {
  line-height: 171.42857%;
  color: #35424B;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
}

.info-footer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  row-gap: 50px;
}

.info-footer__link {
  font-family: "MuseoSans";
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #22C3CA;
}

.info-footer__contacts {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  row-gap: 16px;
}

.info-footer__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  column-gap: 40px;
  grid-auto-columns: 40px;
}

.info-footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-info__mail {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 24px auto;
  grid-template-columns: 24px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-info__mail svg {
  width: 16px;
  height: 18px;
}

.contacts-info__mailto {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 16px;
  color: #35424B;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts-info__mob-phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22px auto;
  grid-template-columns: 22px auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.contacts-info__mob-phone svg {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.contacts-info__number {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts-info__address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24px auto;
  grid-template-columns: 24px auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.contacts-info__address svg {
  width: 16px;
  height: 19px;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.contacts-info__location {
  font-size: 16px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768px) {
  .quotes__slide {
    height: auto;
  }
}

@media (min-width: 992px) {
  .btn--blue:hover {
    background-color: #1eaeb4;
  }

  .btn--white:hover {
    background-color: #22C3CA;
    color: #fff;
  }

  ._social:hover {
    fill: #000;
  }

  .header__body {
    padding-left: 30px;
  }

  .menu__link--small {
    font-weight: 400;
    font-size: 12px;
    line-height: 133.33333%;
    color: #CCCCCC;
    text-transform: none;
    letter-spacing: normal;
  }

  .menu__link--small:hover::after {
    width: 100%;
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .info-contacts__tel:hover {
    text-decoration: underline;
  }

  .info-contacts__request-call:hover {
    border-color: #22C3CA;
  }

  .btns-form-content__global-search:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
  }

  .catalog__item:hover {
    -webkit-filter: drop-shadow(0px 8px 24px rgba(34, 195, 202, 0.24));
            filter: drop-shadow(0px 8px 24px rgba(34, 195, 202, 0.24));
  }

  .catalog__item:hover .item-catalog__label {
    -webkit-animation-name: anim;
            animation-name: anim;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }

  .item-catalog__picture:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-catalog__title:hover .item-catalog__name {
    color: #22C3CA;
    border-color: #22C3CA;
  }

  .form-sub__btn:hover {
    border-color: #22C3CA;
  }

  .offers__item:hover .offers__picture img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .offers__link:hover {
    border-color: #22C3CA;
  }

  .offers__dotts {
    display: none;
  }

  .quotes .slider-arrow:hover {
    background-color: #1eaeb4;
  }

  .footer__link:hover {
    border-color: #35424B;
  }

  .contacts-info__mailto:hover {
    color: #22C3CA;
    border-color: #22C3CA;
  }

  .contacts-info__number:hover {
    color: #22C3CA;
    border-color: #22C3CA;
  }
}

@media (min-width: 1405px) {
  .quotes__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1405px) {
  .quotes__dotts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1380px) {
  ._title-h1A {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1060));
  }

  ._title-h1U {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1060));
  }

  ._title-h3 {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1060));
  }

  ._title-h4 {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1060));
  }

  ._text-1 {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1060));
  }

  ._text-4 {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1060));
  }

  .btn {
    height: calc(40px + 16 * ((100vw - 320px) / 1060));
  }

  .input {
    height: calc(56px + 16 * ((100vw - 320px) / 1060));
  }

  ._icon-search {
    width: calc(22px + 10 * ((100vw - 320px) / 1060));
  }

  ._icon-search {
    height: calc(22px + 10 * ((100vw - 320px) / 1060));
  }

  ._social {
    width: calc(35px + 5 * ((100vw - 320px) / 1060));
  }

  .header__inner {
    height: calc(65px + 30 * ((100vw - 320px) / 1060));
  }

  .header__link {
    font-size: calc(20px + 5 * ((100vw - 320px) / 1060));
  }

  .content-intro__text:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1060));
  }

  .form-content__details {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 1060));
  }

  .form-content__btns {
    margin-top: calc(15px + 1 * ((100vw - 320px) / 1060));
  }

  .top-form-content__search {
    left: calc(12px + 4 * ((100vw - 320px) / 1060));
  }

  .top-form-content__input {
    height: calc(56px + 16 * ((100vw - 320px) / 1060));
  }

  .top-form-content__input {
    padding-left: calc(45px + 19 * ((100vw - 320px) / 1060));
  }

  .body-content__input {
    height: calc(56px + 16 * ((100vw - 320px) / 1060));
  }

  .btns-form-content {
    row-gap: calc(15px + 15 * ((100vw - 320px) / 1060));
  }

  .catalog {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1060));
  }

  .catalog {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1060));
  }

  .catalog__top:not(:last-child) {
    margin-bottom: calc(18px + 12 * ((100vw - 320px) / 1060));
  }

  .catalog__items {
    gap: calc(15px + 17 * ((100vw - 320px) / 1060));
  }

  .catalog__bottom {
    margin-top: calc(20px + 44 * ((100vw - 320px) / 1060));
  }

  .catalog__show-more {
    min-width: calc(176px + 80 * ((100vw - 320px) / 1060));
  }

  .item-catalog__title {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1060));
  }

  .sub {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 1060));
  }

  .sub {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1060));
  }

  .sub__top:not(:last-child) {
    margin-bottom: calc(16px + 4 * ((100vw - 320px) / 1060));
  }

  .sub__btn {
    margin-top: calc(16px + 4 * ((100vw - 320px) / 1060));
  }

  .offers {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1060));
  }

  .offers {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1060));
  }

  .offers__title:not(:last-child) {
    margin-bottom: calc(16px + 24 * ((100vw - 320px) / 1060));
  }

  .offers__content {
    left: calc(20px + 12 * ((100vw - 320px) / 1060));
  }

  .offers__content {
    bottom: calc(20px + 12 * ((100vw - 320px) / 1060));
  }

  .offers__content {
    max-width: calc(224px + 76 * ((100vw - 320px) / 1060));
  }

  .content-offers__text:not(:last-child) {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1060));
  }

  .quotes {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1060));
  }

  .quotes__slide {
    padding-top: calc(20px + 12 * ((100vw - 320px) / 1060));
  }

  .quotes__slide {
    padding-right: calc(15px + 1 * ((100vw - 320px) / 1060));
  }

  .quotes__slide {
    padding-bottom: calc(20px + 36 * ((100vw - 320px) / 1060));
  }

  .quotes__slide {
    padding-left: calc(15px + 17 * ((100vw - 320px) / 1060));
  }

  .footer {
    padding-top: calc(30px + 55 * ((100vw - 320px) / 1060));
  }

  .footer {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1060));
  }

  .footer__item + .footer__item {
    margin-top: calc(10px + 13 * ((100vw - 320px) / 1060));
  }

  .info-footer {
    row-gap: calc(25px + 25 * ((100vw - 320px) / 1060));
  }

  .info-footer__link {
    font-size: calc(20px + 5 * ((100vw - 320px) / 1060));
  }

  .info-footer__list {
    -webkit-column-gap: calc(35px + 5 * ((100vw - 320px) / 1060));
       -moz-column-gap: calc(35px + 5 * ((100vw - 320px) / 1060));
            column-gap: calc(35px + 5 * ((100vw - 320px) / 1060));
  }

  .info-footer__list {
    grid-auto-columns: calc(35px + 5 * ((100vw - 320px) / 1060));
  }
}

@media (max-width: 1345px) {
  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header__column:first-child {
    padding-right: 0;
  }

  .contacts-header__column:nth-child(2) {
    display: none;
  }

  .info-contacts__callback {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
  }
}

@media (max-width: 1225px) {
  .menu__list {
    gap: 15px;
  }
}

@media (max-width: 1050px) {
  .menu__list {
    -ms-grid-columns: (minmax(97px, 1fr))[5];
    grid-template-columns: repeat(5, minmax(97px, 1fr));
    row-gap: 10px;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .info-contacts__tel {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    position: relative;
    z-index: 103;
  }

  .header__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px;
  }

  .header__menu {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }

  .header__contacts {
    position: relative;
    z-index: 103;
  }

  .menu__item:last-child {
    grid-column: initial;
    text-align: center;
  }

  .contacts-header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info-contacts__tel {
    font-size: 16px;
  }

  .info-contacts__request-call {
    font-size: 14px;
  }

  .menu__body {
    position: fixed;
    z-index: 101;
    background-color: rgba(25, 144, 150, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    right: 0;
    overflow: auto;
    -webkit-transition: left 0.6s ease 0s;
    -o-transition: left 0.6s ease 0s;
    transition: left 0.6s ease 0s;
    padding: 120px 15px 30px;
  }

  .menu__body .menu__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: none;
    grid-template-rows: none;
    row-gap: 30px;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 102;
    top: 0;
    width: calc(100% - 30px);
    height: 95px;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
  }

  .menu__link {
    padding: 15px;
    font-size: 16px;
    color: #fff;
    -webkit-transition: color .3s ease 0s;
    -o-transition: color .3s ease 0s;
    transition: color .3s ease 0s;
  }

  .menu__link:active {
    color: #22C3CA;
  }

  .header__logo {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    padding: 15px;
    background-color: #fff;
  }

  .header__link {
    color: #22C3CA;
  }

  .icon-menu {
    display: block;
    position: relative;
    z-index: 103;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    height: 24px;
    cursor: pointer;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #22C3CA;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: -1px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .intro::after {
    background-attachment: scroll;
  }

  .body-content {
    grid-auto-flow: row;
    grid-auto-rows: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: initial;
       -moz-column-gap: initial;
            column-gap: initial;
    row-gap: 32px;
  }

  .sub__top {
    grid-auto-flow: column;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }

  .sub__subtitle._active {
    border-color: #fff;
  }

  .sub__subscribe {
    display: block;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .sub__btn {
    display: inline-block;
  }

  .form-sub__contacts--phone {
    display: none;
  }

  .form-sub__contacts {
    -ms-grid-columns: 56px 1fr;
    grid-template-columns: 56px 1fr;
  }

  .form-sub__input {
    padding: 0px 10px 0px 0px;
  }

  .form-sub__btn {
    display: none;
  }

  .form-sub {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .offers .swiper-container {
    overflow: visible;
  }

  .footer__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -webkit-column-gap: initial;
       -moz-column-gap: initial;
            column-gap: initial;
    row-gap: 40px;
  }

  .footer__items {
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (max-width: 992px) and (max-width: 1380px) {
  .menu__body::before {
    height: calc(65px + 30 * ((100vw - 320px) / 1060));
  }

  .body-content {
    row-gap: calc(15px + 17 * ((100vw - 320px) / 1060));
  }

  .footer__inner {
    row-gap: calc(25px + 15 * ((100vw - 320px) / 1060));
  }
}

@media (max-width: 768px) {
  .info-body .noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    top: -9px;
  }

  .info-body .noUi-horizontal .noUi-handle::before {
    width: 12px;
    height: 12px;
  }

  .footer__items {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    gap: 25px;
  }
}

@media (max-width: 566px) {
  .offers__picture {
    height: 272px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 480px) {
  ._icon-phone {
    display: none;
  }

  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header__column {
    padding-left: 0;
  }

  .contacts-header__column::before {
    display: none;
  }

  .contacts-header__column:first-child {
    margin: 0px 25px 0px 0px;
  }

  .info-contacts {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-auto-flow: column;
  }

  .info-contacts__globe {
    display: block;
  }

  .info-contacts__callback {
    display: none;
  }

  .sub__text {
    text-align: left;
  }

  .sub__subscribe {
    text-align: center;
  }

  .footer__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 30px;
  }

  .footer__column ._arrow-down {
    display: inline-block;
  }

  .footer__list::before {
    width: 192px;
  }

  .footer__list {
    display: none;
  }
}

@media (max-width: 400px) {
  .info-body__duration {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1380px) {
  .header__body {
    padding-left: calc(0px + 30 * ((100vw - 320px) / 1060));
  }
}

@media (max-height: 600px) {
  .intro__content {
    padding: 95px 0px 0px 0px;
  }

  .content-intro__text {
    margin: 0px 0px 15px 0px !important;
  }

  .form-content__details {
    margin: 15px 0px 0px 0px !important;
  }

  .btns-form-content {
    row-gap: 15px !important;
  }
}